<%= search_panel do |form| %>

  <span>Ovverride with personalized ransack fields</span>
  <div class="row">
    form.input :field1_i_cont <br/>
    form.input :field2_i_cont <br/>
    form.input :field3_i_cont <br/>
  </div>

  <div class="row">
    form.input :field4_i_cont <br/>
    form.input :field5_i_cont <br/>
    form.input :field6_i_cont <br/>
  </div>

<% end %>